<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.financial.android"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23"
        />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!--统计-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--share-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:name=".base.FXApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.welcome.WelcomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- main -->
        <activity android:name=".activity.main.HomeActivity"></activity>
        <activity android:name=".activity.other.WebViewActivity" />
        <activity android:name=".activity.other.JavaScriptActivity"/>
        <!-- welcome -->
        <activity android:name=".activity.welcome.LockSetupActivity"></activity>
        <activity android:name=".activity.welcome.LockActivity"></activity>
        <activity android:name=".activity.welcome.GuideViewActivity"></activity>
        <activity android:name=".activity.welcome.GuideGesturePasswordActivity" />
        <activity android:name=".activity.welcome.GuideViewFlipper"/>
        <!-- login -->
        <activity android:name=".activity.login.LoginActivity"></activity>
        <activity android:name=".activity.login.RegisterActivity"></activity>
        <activity android:name=".activity.login.LostPasswdActivity"></activity>
        <!-- home -->
        <activity android:name=".activity.home.PositionActivity"></activity>
        <activity android:name=".activity.home.HelpActivity" />
        <activity android:name=".activity.home.RefreshListViewActivity" />
        <activity android:name=".activity.home.BarcodeActivity"/>
        <activity android:name=".activity.home.SpinnerSelectActivity"/>

        <!-- account -->
        <activity android:name=".activity.account.SettingActivity"></activity>
        <activity android:name=".activity.account.PersonalActivity"></activity>
        <activity android:name=".activity.account.MessageActivity"></activity>
        <activity android:name=".activity.account.WalletActivity"></activity>
        <!-- projects -->
        <activity android:name=".activity.projects.ProductActivity" />
        <activity android:name=".activity.projects.ShowActivity" />

        <!--Test activity-->
        <activity android:name=".activity.test.VerticalViewPagerActivity" />
        <activity android:name=".activity.test.VerticalViewActivity" />

        <service android:name=".restful.config.service.MyPushIntentService"
            android:process=":push"></service>
        <service android:name=".restful.config.service.NotificationService"/>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56dff55ae0f55a52700005bd"></meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="3dfa6260e04541951ec43efa9b049a5b ">

        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />

        <!-- share-->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:theme="@style/Theme.UMDefault"
            android:excludeFromRecents="true"/>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>

</manifest>
